body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    text-align: center;
}

#id1 {
    color: darkblue;
    background: yellow
}

p {
    font-size: 20px;
}

#img1 {
    transform: scale(0.5);
}
